*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    width: 100%;
    height:100px ;
    background-color: antiquewhite;
    position: relative;
    border: 3px solid black ;
}

.logo{
    width: 150px;
    height: 100%;
    background-color: aqua;
    position: absolute;
    left: 0;
    /* display: inline-block; */
    /* vertical-align: top; */
    
}

.nav{
    width: 500px;
    height: 70px;
    background-color: red;
    position: absolute;
    right: 150px;
    top: 15px;
    /* display: inline-block; */
    /* vertical-align: top; */

}
.list{
    display: inline-block;
    margin-left: 30px;
    vertical-align: top;
    margin-top: 20px;
}



.fa-magnifying-glass{
    position: absolute;
    right: 30px;
    top: 50px;
    visibility: hidden;
    /* display: none; */
    /* color: green; */
}

.fa-bars{
    position: absolute;
    right: 30px;
    top: 50px;
    /* display: none; */
    visibility: hidden;
}

.sidebar{
    width: 100%;
    height: 200px;
    background-color: black;
    position: absolute;
    /* bottom: 500px; */

}
/* .sidebar ul li{
    list-style: none;
    margin-top: 10px;
    color: white;
} */



/* ////////////// media querries ///////////////////// */

@media screen and (max-width:1000px){
    .navbar{
        background-color: yellow;
    }
    .logo{
        width: 70px;
        height: 50px;
        margin-top:20px ;
        padding-left: 10px;
        padding-top: 10px;
        margin-left: 20px;
    }
}


@media screen and (max-width:800px){
    .nav{
        display: none;
    }
    .fa-bars{
        visibility: visible;
    }
}


